<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:if condition="{isEditable}">
        <f:then>
            <a href="#" onclick="{onClick}">
                <core:icon identifier="actions-open" />
                <f:translate id="edit_file" extensionName="form_editor_launcher" arguments="{0: formPath}" />
            </a>
        </f:then>
        <f:else>
            <core:icon identifier="status-edit-read-only" />
            <f:translate id="not_editable" extensionName="form_editor_launcher" arguments="{0: formPath}" />
        </f:else>
    </f:if>
</html>